.progressSection {
  /* &:not(:first-of-type) {
    border-left: rem(3px) solid light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  } */

}

.right {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
